{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}游戏服务器列表{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="page-header">
            <h1>{{ game.game_name }}游戏服务器列表</h1>
        </div>
        <table class="table table-striped">
            <tr>
                <th width="5%">
                    <input type="checkbox" id="checkAll">
                </th>
                <th>ID</th>
                <th>服务器名</th>
                <th>服务器描述</th>
                <th>包名</th>
                <th>日期</th>
                <th><a class="btn btn-success" href="{{ url_for('game.game_server_add', game_id=game_id) }}"
                       role="button">新增</a>
                    <a class="btn btn-warning" href="#" role="button" onclick="del_all_game_server({{ game_id }},{{ pagination.page }})">删除</a>
                </th>
            </tr>
            {% for server in gameservers %}
                <tr>
                    <td><input type="checkbox" id="{{ server.id }}" name="selectFlag"></td>
                    <td>{{ server.id }}</td>
                    <td>{{ server.server_name }}</td>
                    <td>{{ server.server_des }}</td>
                    <td>{{ server.package_name }}</td>
                    <td>{{ server.add_time | datetimeformat("%Y-%m-%d") }}</td>
                    <td>
                        <a class="btn btn-info"
                           href="{{ url_for('game.game_server_edit', game_id= game_id, server_id=server.id,page=pagination.page) }}"
                           role="button">编辑</a>
                        <a class="btn btn-warning"
                           href="{{ url_for('game.game_server_del', game_id= game_id, server_id=server.id,page=pagination.page ) }}"
                           role="button" onclick="delete_confirm()">
                            删除
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'game.game_server_list',game_id=game_id) }}
    </div>
{% endblock %}