{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}体验游戏列表{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="page-header">
            <h1>体验游戏列表</h1>
        </div>
        <table class="table table-striped">
            <tr>
                <th width="5%">
                    <input type="checkbox" id="checkAll">
                </th>
                <th>ID</th>
                <th>图标</th>
                <th>Banner</th>
                <th>游戏名</th>
                <th>包名</th>
                <th>日期</th>
                <th><a class="btn btn-success" href="{{ url_for('trial_game.game_add') }}" role="button">新增</a>
                    <a class="btn btn-warning" href="#" role="button" onclick="del_all_trial_game({{ pagination.page }})">删除</a>
                </th>
            </tr>
            {% for game in games %}
                <tr>
                    <td><input type="checkbox" id="{{ game.id }}" name="selectFlag"></td>
                    <td>{{ game.id }}</td>
                    <td><img src="{{ game.icon_url }}" class="img-circle" height="50px" width="50px"></td>
                    <td><img src="{{ game.banner_url }}" height="50px" width="100px"></td>
                    <td>{{ game.game_name }}</td>
                    <td>{{ game.package_name }}</td>
                    <td>{{ game.add_time | datetimeformat("%Y-%m-%d") }}</td>
                    <td>
                        <a class="btn btn-info"
                           href="{{ url_for('trial_game.game_edit', game_id= game.id, page=pagination.page) }}" role="button">编辑</a>
                        <a class="btn btn-warning"
                           href="{{ url_for('trial_game.game_del', game_id= game.id, page=pagination.page ) }}"
                           role="button" onclick="delete_confirm()">
                            删除
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'trial_game.game_list') }}
    </div>
{% endblock %}