{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}APK列表{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="page-header">
            <h1>APK列表</h1>
        </div>
        <table class="table table-striped">
            <tr>
                <th width="5%">
                    <input type="checkbox" id="checkAll">
                </th>
                <th>ID</th>
                <th>图标</th>
                <th>Banner</th>
                <th>APK名</th>
                <th>包名</th>
                <th>日期</th>
                <th><a class="btn btn-success" href="{{ url_for('apk.apk_add') }}" role="button">新增</a>
                    <a class="btn btn-warning" href="#" role="button" onclick="del_all_apk({{ pagination.page }})">删除</a>
                </th>
            </tr>
            {% for apk in apks %}
                <tr>
                    <td><input type="checkbox" id="{{ apk.id }}" name="selectFlag"></td>
                    <td>{{ apk.id }}</td>
                    <td><img src="{{ apk.icon_url }}" class="img-circle" height="50px" width="50px"></td>
                    <td><img src="{{ apk.banner_url }}" height="50px" width="100px"></td>
                    <td>{{ apk.apk_name }}</td>
                    <td>{{ apk.package_name }}</td>
                    <td>{{ apk.add_time | datetimeformat("%Y-%m-%d") }}</td>
                    <td>
                        <a class="btn btn-info"
                           href="{{ url_for('apk.apk_edit', apk_id= apk.id, page=pagination.page) }}" role="button">编辑</a>
                        <a class="btn btn-warning"
                           href="{{ url_for('apk.apk_del', apk_id= apk.id, page=pagination.page ) }}"
                           role="button" onclick="delete_confirm()">
                            删除
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'apk.apk_list') }}
    </div>
{% endblock %}