{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}推送列表{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="page-header">
            <h1>推送列表</h1>
        </div>
        <table class="table table-striped">
            <tr>
                <th width="5%">
                    <input type="checkbox" id="checkAll">
                </th>
                <th>ID</th>
                <th>平台</th>
                <th>受众</th>
                <th>消息类型</th>
                <th>消息内容</th>
                <th>添加时间</th>
                <th>状态</th>
                <th><a class="btn btn-success" href="{{ url_for('push.push_add') }}" role="button">新增</a>
                </th>
            </tr>
            {% for push in pushes %}
                <tr>
                    <td><input type="checkbox" id="{{ push.id }}" name="selectFlag"></td>
                    <td>{{ push.id }}</td>
                    <td>{{ push.platform }}</td>
                    <td>{{ push.audience }}</td>
                    <td>{{ push.message_type }}</td>
                    <td>{{ push.content }}</td>
                    <td>{{ push.add_time | datetimeformat("%Y-%m-%d") }}</td>
                    <td>{{ push.state }}</td>
                    <td>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'push.push_list') }}
    </div>
{% endblock %}